
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Resume builder</h1>
    </md-toolbar>
    <md-content class="md-padding" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
        <!--<ul data-ng-if="menu.shouldRender(authentication.user);" class="docs-menu">
        <li class="parent-list-item" data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}">
            <a href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
            <ul class="menu-nested-list">
                <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                </li>
            </ul>
        </li>
        </ul>-->

        <ul class="docs-menu">
            <ul class="menu-nested-list">
                <li data-ng-repeat="item in menu.items | orderBy:'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" ng-class="{active: ($uiRoute)}">
                    <menu-toogle>
                        <button class="md-button-toggle md-button md-default-theme">
                            <div layout="row" flex>
                                {{item.title}}
                            </div>
                        </button>
                        <ul id="docs-menu-layout" class="menu-toggle-list">
                            <li data-ng-repeat="subitem in item.items | orderBy:'position'">
                                <menu-link>
                                    <a class="md-button md-default-theme" ng-href="/#!/{{subitem.link}}">
                                        <span>{{subitem.title}}</span>
                                    </a>
                                </menu-link>
                            </li>
                        </ul>
                    </menu-toogle>
                </li>
            </ul>
        </ul>
    </md-content>

<!--
<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
    <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle">
            <span data-ng-bind="item.title"></span>
            <b class="caret"></b>
        </a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
            <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
            </li>
        </ul>
        <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
    </li>
</ul>
-->
