<section data-ng-controller="SearchController">
    <div class="page-header">
        <h1>Search</h1>
    </div>

    <form ng-hide="hideSearch">
        <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
            <!--<md-input-container>
                <md-input type="text" data-ng-model="query"></md-input>
            </md-input-container>-->
            <md-input-container flex>
                <label>Describe your ideal candidate</label>
                <textarea data-ng-model="query" rows="8" columns="1"></textarea>

            </md-input-container>
        </md-content>
            <md-button class="md-raised md-primary" ng-click="runSearch()">Find!</md-button>
    </form>



    <div id="resultsContainer" ng-hide="hideResults">
        <md-button class="md-raised md-priary" ng-click="newSearch()">Search again</md-button>
        <div ng-repeat="result in results">
            <div><h2>{{result['name']}} - View resume</h2></div>
        </div>
    </div>




</section>
