<section data-ng-controller="EntriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Entries</h1>
    </div>
    <md-list>
        <a data-ng-repeat="entry in entries" data-ng-href="#!/entries/{{entry._id}}">
        <md-item >
            <md-item-content>
                <div class="md-tile-content">
                    <h3>{{entry.name}}</h3>
                    <h4>{{entry.title}}</h4>
                </div>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
        </a>
    </md-list>

    <div class="alert alert-warning text-center" data-ng-hide="!entries.$resolved || entries.length">
    	No Entries yet, why don't you <a href="/#!/entries/create">create one</a>?
    </div>
</section>