<section data-ng-controller="ResumesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Resumes</h1>
    </div>
    <md-list>
        <a data-ng-repeat="resume in resumes" data-ng-href="#!/resumes/{{resume._id}}">
            <md-item>
                <md-item-content>
                    <div class="md-tile-content">
                        <h3>{{resume.name}}</h3>
                    </div>
                </md-item-content>
            </md-item>
        </a>
    </md-list>
    <div class="alert alert-warning text-center" data-ng-hide="!resumes.$resolved || resumes.length">
    	No Resumes yet, why don't you <a href="/#!/resumes/create">create one</a>?
    </div>
</section>